
.region-card {
    height: 7.5rem;
    width: 7.5rem;
    padding: 1em;
    margin: 0 1em;
    border-radius: 50%;
    padding: 0;
    overflow: hidden;
    transition: 0.5s;
    border: darkred inset;
    .region-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        .region-background {
            height: 100%;
            width: 100%;
            background-position: center;
            background-size: cover;
            background-origin: content-box;
            background-repeat: no-repeat;
        }
    }

}

.region-name {
    text-transform: capitalize;
    color: grey;
    font-size: large;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.region-selected {
    font-weight: 600;
}

@media only screen and (max-width: 1024px) {
    .region-card {
        width: 5rem;
        height: 5rem;
        padding: 0;
    }
    .region-name {
        font-size: 80% !important;
    }
}

@media only screen and (max-width: 600px) {
    .region-card {
        width: 5rem;
        height: 5rem;
        padding: 0;
    }
}