
.pokemon-card {
    width: 10rem;
    height: 200px;
    transition: transform .2s; 

    .pokemon-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        .pokemon-background {
            height: 100%;
            width: 100%;
            max-height: 150px;
            max-width: 125px;
            object-fit: contain;
        }

        .pokemon-name {
            text-transform: capitalize;
            color: grey;
            font-size: large;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    

    &:hover {
        transform: scale(1.05);
    }
}

@media only screen and (max-width: 600px) {
    .pokemon-card {
        width: auto;
        height: auto;
        .pokemon-name {
            font-size: 100% !important;
        }
    }
  }