.main-toolbar {
    height: 5rem;
    color: #f0f0f0;
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    position: relative;
    .mat-form-field {
        width: 100%;
        text-align: center;
    }
    span {
        width: inherit;
    }
}