<div class="container" fxLayout="column" *ngIf="pokemonResponse$ | async as pokemonResponse">

    <div fxLayout="row" fxLayoutAlign="flex-start" *ngIf="regionResponse$ | async as regionResponse">
        <app-region-card *ngFor="let region of regionResponse.results" [region]="region"></app-region-card>
    </div>
    <mat-grid-list cols="4" rowHeight="200px">
        <mat-grid-tile *ngFor="let pokemon of pokemonResponse.results">
            <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
        </mat-grid-tile>
    </mat-grid-list>

    <div class="list-bottom-bar" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
        <button mat-fab color="primary" (click)="goUrl(pokemonResponse.previous)"><mat-icon>arrow_back</mat-icon></button>
        <button mat-fab color="primary" (click)="goUrl(pokemonResponse.next)"><mat-icon>arrow_forward</mat-icon></button>
    </div>

</div>
