<div class="container" fxLayout="column">
    <div class="region-container" fxLayout="row wrap" fxLayoutAlign="center" *ngIf="regionResponse$ | async as regionResponse">
        <div *ngFor="let region of regionResponse.results">
            <div *ngIf="regionSelected$ | async as regionSelected">
                <app-region-card *ngIf="region.image" 
                    [region]="region" [isSelected]="regionSelected.name === region.name ? true : false"
                    (click)="goRegion(region)">
                </app-region-card>
            </div>
        </div>
    </div>
    <mat-grid-list @list [cols]="listColumns" rowHeight="200px" *ngIf="inventory$ | async as inventory">
        <mat-grid-tile @items *ngFor="let pokemon of inventory">
            <app-pokemon-card [pokemon]="pokemon"></app-pokemon-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
