
@import '~@angular/material/theming';
@include mat-core();

$mat-pokedex: (
  50: #f0f0f0,
  100: #f0f0f0, // lighter
  200: #f0f0f0,
  300: #cb4f42,
  400: #cb4f42,
  500: #cb4f42,
  600: #cb4f42,
  700: #61160d,
  800: #61160d,
  900: #61160d,
  A100: #cb4f42,
  A200: #cb4f42,
  A400: #cb4f42,
  A700: #61160d,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
$mat-pokedex-dark: (
  50: #f0f0f0,
  100: #f0f0f0, // lighter
  200: #f0f0f0,
  300: #61160d,
  400: #61160d,
  500: #61160d,
  600: #61160d,
  700: #cb4f42,
  800: #cb4f42,
  900: #cb4f42,
  A100: #cb4f42,
  A200: #cb4f42,
  A400: #cb4f42,
  A700: #61160d,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

$pokedex-default-primary: mat-palette($mat-pokedex, 500);
$pokedex-default-accent:  mat-palette($mat-pokedex, 100);
$pokedex-default-warn: mat-palette($mat-pokedex, 900);

$pokedex-dark-primary: mat-palette($mat-pokedex-dark, 500);
$pokedex-dark-accent: mat-palette($mat-pokedex-dark, 100);
$pokedex-dark-warn: mat-palette($mat-pokedex-dark, 900);

$pokedex-default-theme: mat-light-theme((
  color: (
    primary: $pokedex-default-primary,
    accent: $pokedex-default-accent,
    warn: $pokedex-default-warn,  
  )
));

$pokedex-dark-theme: mat-dark-theme((
  color: (
    primary: $pokedex-dark-primary,
    accent: $pokedex-dark-accent,
    warn: $pokedex-dark-warn,  
  )
));

$deeppurple-amber-theme: mat-light-theme((
  color: (
    primary: mat-palette($mat-deep-purple),
    accent: mat-palette($mat-amber, A200, A100, A400),
  )
));

$indigo-pink-theme: mat-light-theme((
  color: (
    primary: mat-palette($mat-indigo),
    accent: mat-palette($mat-pink, A200, A100, A400) 
  )
));

$pink-bluegrey-theme: mat-dark-theme((
  color: (
    primary: mat-palette($mat-pink, 700, 500, 900),
    accent: mat-palette($mat-blue-grey, A200, A100, A400),
  )
));

$purple-green-theme: mat-dark-theme((
  color: (
    primary: mat-palette($mat-purple, 700, 500, 800),
    accent: mat-palette($mat-green, A200, A100, A400),
  )
));

@include angular-material-theme($pokedex-default-theme);

.dark-theme {
  @include angular-material-color($pokedex-dark-theme);
}

.deeppurple-amber {
  @include angular-material-color($deeppurple-amber-theme);
}

.indigo-pink {
  @include angular-material-color($indigo-pink-theme);
}

.pink-bluegrey {
  @include angular-material-color($pink-bluegrey-theme);
}

.purple-green {
  @include angular-material-color($purple-green-theme);
}

// Types

$normal: #A8A77A;
$fire:  #EE8130;
$water:  #6390F0;
$electric:  #F7D02C;
$grass:  #7AC74C;
$ice:  #96D9D6;
$fighting:  #C22E28;
$poison:  #A33EA1;
$ground:  #E2BF65;
$flying:  #A98FF3;
$psychic:  #F95587;
$bug:  #A6B91A;
$rock:  #B6A136;
$ghost:  #735797;
$dragon:  #6F35FC;
$dark:  #705746;
$steel:  #B7B7CE;
$fairy:  #D685AD;

.normal-type { background-color: $normal; }
.fire-type { background-color: $fire; }
.water-type { background-color: $water; }
.electric-type { background-color: $electric; }
.grass-type { background-color: $grass; }
.ice-type { background-color: $ice; }
.fighting-type { background-color: $fighting; }
.poison-type { background-color: $poison; }
.ground-type { background-color: $ground; }
.flying-type { background-color: $flying; }
.psychic-type { background-color: $psychic; }
.bug-type { background-color: $bug; }
.rock-type { background-color: $rock; }
.ghost-type { background-color: $ghost; }
.dragon-type { background-color: $dragon; }
.dark-type { background-color: $dark; }
.steel-type { background-color: $steel; }
.fairy-type { background-color: $fairy; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex { display: flex; }

.container {
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    clear: both;
    display: block;
    margin: 0 auto;
    max-width: 1280px;
    overflow: hidden;
    position: relative;
}
img[src=""] { content:url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="); }

.no-white-background-png {
  mix-blend-mode: multiply;
}